boot_delay=1 # Ensure everything has a chance to power up before starting.
gpu_mem=384 # Give the GPU a bit more memory (but StepMania primarily uses system memory).
force_turbo=1 # Always run clocks at full speed.
over_voltage=3 # Run everything a little hotter so it can support faster clock speeds.
arm_freq=1400 # CPU overclock. Default 1200 MHz.
core_freq=500 # GPU overclock; Default 250 MHz.
sdram_freq=550 # SDRAM overclock; Default 450.
sdram_schmoo=0x02000020 # Try to make SDRAM more stable.
over_voltage_sdram_c=3 # SDRAM controller overclock; Default 0
over_voltage_sdram_i=3 # SDRAM I/O overclock; Default 0
over_voltage_sdram_p=3 # SDRAM phy(?) overclock; Default 0
max_usb_current=1 # Do not limit current draw of USB peripherals.

