force_turbo=1 # Always run clocks at full speed.
over_voltage=3 # Run everything a little hotter so it can support faster clock speeds.
arm_freq=1400 # CPU overclock. Default 1200 MHz.
core_freq=500 # GPU overclock; Default 250 MHz.
sdram_freq=550 # SDRAM overclock; Default 450 MHz.
sdram_schmoo=0x02000020 # Try to make SDRAM more stable.
