[Desktop Entry]
Name=Stepmania
Comment=Autolaunch Stepmania on Login
Exec=${SM_CONFIG_DIR}/launch.sh
Terminal=false
Type=Application
NoDisplay=false

